<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings file="appSettings.config">
      <add key="ValueFromAppConfig" value="This is a value from the ConsoleApp1's app.config"/>
    </appSettings>
</configuration>